
html{
    font-size: 16px;
}

.container{
    margin: 20px;
}

p{
    color: green;
}

button{
    background-color: blue;
    color: white;
}

#conteudo-principal{
    line-height: 1.5;
}

form{
    border: 1px solid gray;
    padding: 10px;
}

#cabecalho{
    font-size: 62.5%;


    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: serif;

}

nav {
    font-weight: bold;
}

h1 {
    font-family: serif;
}

h2  {
    font-family: serif;
}

h1 {
    color: red;
    font-size: 5em;
    text-align: center;
}

footer{
    border-top: 2px solid red;
}

.link {
 display: inline-block;
 margin: 0 5% 1% 5%;
 border: solid 2px red;
 background-color: rgb(255, 0, 0, 0.2);
 border-radius: 5px;
transition: background-color 0.3s ease-in;


    &:hover{
        background-color: red;
    }

 a{
        text-decoration: none;
        color: red;


        img{
            display: inline-block;
            width: 50%;
        }
 }

}


#menu ul {
    text-align: center;
}
